*.[ao]
*.l[ao]
.libs
ANNOUNCEMENT
AUTOFILES
COPYING
ChangeLog
Makefile
README
SRCFILES
TARGETS
compile
crypt.lib
cvm-benchclient
cvm-chain
cvm-checkpassword
cvm-pwfile
cvm-qmail
cvm-testclient
cvm-unix
cvm-v1benchclient
cvm-v1checkpassword
cvm-v1testclient
cvm-vmailmgr
cvm-vmailmgr-local
cvm-vmailmgr-udp
ltcompile
load
ltload
makeshlib
s.lib
sasl-auth-test
shadow.lib
socket.lib
sql-query-test
tests.sh
trylib.c
